<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<!-- db connection-->
	<connectionStrings>
		<add name ="connstrng" connectionString="Data Source=DESKTOP-TQ2S50G\SQLEXPRESS;Initial Catalog=contactdb;Integrated Security=True;"/>
	</connectionStrings>
	
</configuration>